extends ./layout.jade

block title
	title Stenography - dctWatermark

block content
	.jumbotron
		h2 DCT based detect
		ul
			li Detect low frequency signal of watermark image into high frequency portion of color image
			li <strong>Slice:</strong> The slice of image used to store watermark
			li <strong>Shift:</strong> Shift factor before encode into color image
			li <strong>Remember:</strong> You must put right parameters to get the image back
			li <Strong>Note:</strong> If the image size dis-match, the watermark image will be stretch to match color image

	.row
		include ./watermarked.jade
		+watermarked('/img/dctWatermarked.png')
	.row
		include ./sliceshift.jade
		+sliceshift('Run DCT Detect')

	.row#result
		include ./result.jade
		+result('watermark image', 'Download watermark image')
