extends ./layout.jade

block title
	title Stenography - DctWatermark

block content
	.jumbotron
		h2 DCT based detect
		ul
			li Decode low frequency signal of watermark image from high frequency portion of watermarked image
			li You must set the following parameters to be same between watermarking and detection
			li <strong>Slice:</strong> The portion of color image used to carry watermark image
			li <strong>Shift:</strong> Bits shifted before encode watermark signal into color signal

	.row
		include ./watermarked.jade
		+watermarked('/img/dctWatermarked.png')
	.row
		include ./sliceshift.jade
		+sliceshift('Run DCT Detect')

	.row#result
		include ./result.jade
		+result('watermark image', 'Download watermark image')
