extends ./layout.jade

block title
	title Stenography - DctWatermark

block content
	.jumbotron
		h2 DCT based watermark
		ul
			li Encode low frequency signal of watermark image into high frequency portion of color image
			li If the image size dis-match, the watermark image will be stretched to match the color image
			li You must set the following parameters to be same between watermarking and detection
			li <strong>Slice:</strong> The portion of color image used to carry watermark image
			li <strong>Shift:</strong> Bits shifted before encode watermark signal into color signal

	.row
		include ./colorwatermark.jade
		+colorwatermark
	.row
		include ./sliceshift.jade
		+sliceshift('Run DCT Watermark')

	.row#result
		include ./result.jade
		+result('watermarked image', 'Download watermarked image')
