extends ./layout.jade

block title
	title Stenography - suffixWatermark

block content
	.jumbotron
		h1 Hello, world!
	.container
		.row
			.col-sm-6
				.thumbnail
					img(src='', alt='...')
					.caption
						h3 Thumbnail label
							p ...
							p
								a.btn.btn-primary(href='#', role='button') Button
								a.btn.btn-default(href='#', role='button') Button
			.col-sm-6
				.thumbnail
					img(src='', alt='...')
					.caption
						h3 Thumbnail label
						p ...
						p
							a.btn.btn-primary(href='#', role='button') Button
							a.btn.btn-default(href='#', role='button') Button
		.row
			.col-sm-12
				.thumbnail
					img(src='', alt='...')
					.caption
						h3 Thumbnail label
						p ...
						p
							a.btn.btn-primary(href='#', role='button') Button
							a.btn.btn-default(href='#', role='button') Button

