extends ./layout.jade

block title
	title Stenography - suffixWatermark

block content
	.jumbotron
		h2 Suffix based watermarking
		ul
			li Encode low frequency signal of watermark image into high frequency portion of color image
			li <strong>Slice:</strong> The slice of image used to store watermark
			li <strong>Shift:</strong> Shift factor before encode into color image
			li <strong>Remember:</strong> You must put right parameters to get the image back
			li <Strong>Note:</strong> If the image size dis-match, the watermark image will be stretch to match color image

	.row
		include ./colorwatermark.jade
		+colorwatermark
	.row
		include ./sliceshift.jade
		+sliceshift('Run Suffix Watermark')

	.row#result
		include ./result.jade
		+result('watermarked image', 'Download watermarked image')
