mixin suffix(runText)
	.col-sm-12
		.thumbnail.text-center#control
			p
				label Suffix:
				span.sliderValue#suffixValue 2
				input#suffix(data-slider-min='0' data-slider-max='8' data-slider-step='1' data-slider-value='2')

			button.btn.btn-lg.btn-primary#run(type='button')= runText
