extends ./layout.jade

block title
	title Stenography - SuffixDetect

block content
	.jumbotron
		h2 Suffix based detect
		ul
			li Decode most significant bits of watermark image from least significant bits of watermarked image
			li You must set the following parameters to be same between watermarking and detection
			li <strong>Suffix:</strong> The bits encoded

	.row
		include ./watermarked.jade
		+watermarked('/img/suffixWatermarked.png')
	.row
		include ./sliceshift.jade
		+sliceshift('Run Suffix Detect')

	.row#result
		include ./result.jade
		+result('watermark image', 'Download watermark image')
