extends ./layout.jade

block title
	title Stenography - SuffixWatermark

block content
	.jumbotron
		h2 Suffix based watermark
		ul
			li Encode most significant bits of watermark image into least significant bits of color image
			li If the image size dis-match, the watermark image will be stretched to match the color image
			li You must set the following parameters to be same between watermarking and detection
			li <strong>Suffix:</strong> The bits encoded

	.row
		include ./colorwatermark.jade
		+colorwatermark
	.row
		include ./sliceshift.jade
		+sliceshift('Run Suffix Watermark')

	.row#result
		include ./result.jade
		+result('watermarked image', 'Download watermarked image')
